body {
    background-color: #fcfbfb;
    color: #555;
    font-family: sans-serif;
}

a {
    color: #007ABD;
    font-weight: 600;
}

.title {
    color: #287bbd;
    font-family: 'Noto Sans', sans-serif;
}

.section {
    color: #333745;
}

.profile-box {
    height: 200px;
}

.picture {
    border-radius: 100%;
    border: 3px solid #287bbd;
}

.social-media-icon {
    width: 32px;
    margin: 8px;
}

.social-media-icon img {
    width: 100%;
}

.button {
    background-color: #287bbd;
    color: #fcfbfb;
    padding: 15px 20px;
    border-radius: 3px;
    line-height: 50px;
    text-decoration: none;
}

